
p {
    color: black;
    width: 100%;
    background-color:#FF8C00;
    margin-left: -12%;
    margin-top: -15%;
    height: 100px;
    font-family: Impact,
    fantasy;
    font-size: 70px;
    font-style: italic;
    padding-left: 699px;
}

body {
    background: (248, 248, 255);
    color: #ffffff;
    font-family: 'Merriweather', sans-serif;
    margin-top: 300px;
    margin-left:200px;
}



input {
    color: black;
    border-radius: 2px;
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.06);
    width: 300px;
    margin-right: 40%;
    margin-left: 35%;
    height: 40px;
    font-size: 20px;
}

button { 
     color: black;
     width: 300px;
     height: 150px;

}
h3 {
    color: #1C1C1C;
    margin-top: 40%;
    margin-left: 82%;
    font-family: Brush Script MT,
    Brush Script Std,
    cursive;
    font-size: 30px;
    font-style: italic;
}
